{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-class-pattern": "[a-z0-9\\-_]+",
    "color-hex-length": "short",
    "no-duplicate-selectors": true,
    "no-invalid-position-at-import-rule": null,
    "import-notation": "string"
  }
}
