.list-template-container {
  height: calc(100vh - 56px);
  padding: 12px;
  overflow-y: auto;
  background-color: #f8f9fa;

  .table-wrapper {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
  }
}
