.navbar-container {
  position: sticky;
  top: 56px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - 56px);
  padding: var(--mantine-spacing-md);
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  > .navbar-header-wrapper {
    flex: 1;

    > .navbar-header {
      padding-bottom: var(--mantine-spacing-md);
      margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
      border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

      > .logo-image {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
  }

  > .navbar-footer-wrapper {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }

  .navbar-link {
    display: flex;
    align-items: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    text-decoration: none;
    border-radius: var(--mantine-radius-sm);


    > .link-icon {
      width: 25px;
      height: 25px;
      margin-right: var(--mantine-spacing-sm);
      color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    }

    &:hover {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));

      .link-icon {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      }
    }

    &[data-active] {
      &,
      &:hover {
        color: var(--mantine-color-blue-light-color);
        background-color: var(--mantine-color-blue-light);

        .link-icon {
          color: var(--mantine-color-blue-light-color);
        }
      }
    }
  }
}
