.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 56px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  > .inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;

    > .info-group {
      > .logo-image {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
  }
}




